In [1]:
# load datasets
import pandas as pd

df_8 = pd.read_csv('all_alpha_08.csv')

df_18 = pd.read_csv('all_alpha_18.csv')

In [10]:
# view 2008 dataset
df_8.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [5]:
# view 2018 dataset
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [8]:
# drop columns from 2008 dataset
df_8.drop(['Stnd','Underhood ID','FE Calc Appr','Unadj Cmb MPG'],axis=1,inplace=True)

df_8.head(1)

KeyError: "['Stnd' 'Underhood ID' 'FE Calc Appr' 'Unadj Cmb MPG'] not found in axis"

In [9]:
# drop columns from 2018 dataset

df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1,inplace=True)

df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [12]:
# rename Sales Area to Cert Region
df_8.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)
df_8.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [14]:
# replace spaces with underscores and lowercase labels for 2008 dataset
                

df_8.rename(columns=lambda x: x.strip().lower().replace(" ","_"), inplace=True)
df_8.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [15]:
# replace spaces with underscores and lowercase labels for 2018 dataset

df_18.rename(columns=lambda x: x.strip().lower().replace(" ","_"),inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [16]:
# confirm column labels for 2008 and 2018 datasets are identical
df_8.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [17]:
# make sure they're all identical like this
(df_8.columns == df_18.columns).all()

True

In [18]:
#save changes
df_8.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)